{% extends "base.html"%}
{% block title %} Home {% endblock %}
{% block content %} 

<div class="jumbotron" style="background-color:#fff">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">My name is Berk Gaffaroglu, creator of this blog.</p>
  <hr class="my-4">
  <p>This website created using Flask, which is a micro web framework for Python. If you want to see the code, click "Check the code".</p>
  <p class="lead">
    <a class="btn btn-outline-success btn-lg" href="https://github.com/berkgaffaroglu/flaskblog" role="button"><i class="fab fa-github-square"></i> Check the code</a>
  </p>
</div>


{% endblock %}
