{% extends "base.html "%}

{% block title %} All Posts {% endblock %}
{% block content %} 
{% if posts %}
<h1><a class="btn btn-outline-primary" href="/admin/"><i class="fas fa-plus-circle"></i> Create new post</a></h1>
<h1></h1>
{% for post in posts %}

<div class="card" style="width: auto">
   
  <div class="card-body">
<h1 class="card-title"><a href="/post/{{post.id}}">{{ post.title }}</a></h1>

<p>{{ post.content }}</p>
<small class="card-subtitle mb-2 text-muted"><i class="fas fa-at"></i>{{ post.author }} <i class="fas fa-clock"></i> {{ post.date_posted }}</p>
<a href="/post/{{post.id}}" class="btn btn-primary"><i class="fab fa-readme"></i> Read more.</a>

</div>

</div>




{% endfor %}
{% else %}
<div class="card" style="width: auto">
   
  <div class="card-body">
<h1 class="card-title">There are no posts!</h1>

<a class="btn btn-outline-info" href="/admin/">Click to create a new post!</a>



</div>

</div>







{% endif %}

{% endblock %}